/* fonts */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400,700');

/* bulma.css */
// custom variables
@import 'node_modules/bulma/sass/utilities/initial-variables';

$family-sans-serif: 'Open Sans', $family-sans-serif;
$family-monospace: 'Inconsolata', $family-monospace;

@import 'node_modules/bulma/bulma.sass';

.card{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    margin: 3px;
}

.manage-lifts-table{
    background: white;
    padding: 20px;
    border-radius: 20px;
}